bootstrap:
  dcs:
    loop_wait: 10
    maximum_lag_on_failover: 1048576
    postgresql:
      parameters:
        hot_standby: 'on'
        max_connections: 100
        max_replication_slots: 10
        max_wal_senders: 10
        wal_level: replica
      use_pg_rewind: true
      use_slots: true
    retry_timeout: 30
    ttl: 30
  initdb:
  - encoding: UTF8
  pg_hba:
  - host replication replicator 0.0.0.0/0 md5
  - host all all 0.0.0.0/0 md5
  users:
    admin:
      options:
      - createrole
      - createdb
      password: admin
etcd3:
  hosts: etcd1:2379,etcd2:2379,etcd3:2379
name: postgres-master
namespace: /db/
postgresql:
  authentication:
    replication:
      password: replicator
      username: replicator
    superuser:
      password: postgres123
      username: postgres
  bin_dir: /usr/lib/postgresql/15/bin
  connect_address: postgres-master:5432
  data_dir: /var/lib/postgresql/data/pgdata
  listen: 0.0.0.0:5432
  parameters:
    max_connections: 62
    shared_buffers: 128MB
    shared_preload_libraries: pg_stat_statements
    unix_socket_directories: /var/run/postgresql
    work_mem: 16MB
  pgpass: /tmp/pgpass
restapi:
  connect_address: postgres-master:8008
  listen: 0.0.0.0:8008
scope: postgres
tags:
  clonefrom: false
  nofailover: false
  noloadbalance: false
  nosync: false
